* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 35px;
    background-color: #081b31;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 15px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 80px;
    border: 8px solid white;
}

img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    border-radius: 50%;
}

.count {
    display: flex;
    justify-content: center;
    font-size: 50px;
    gap: 80px;
    padding: 0px;
}

p {
    font-size: 25px;
}

.score {
    text-align: center;
}

.move {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

button {
    width: 210px;
    height: 45px;
    background-color: #081b31;
    color: white;
    border-radius: 10px;
    font-size: larger;
    border: none;
}